@media only screen and (min-width: 940px) {
     
    nav ul {
        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
     }
     
    
}