
header {
    background-color: #9DBA9D;
    margin: 10px;
    padding-top: 15px;
    
}
h1 {
    text-align: center;
}
nav {
 width: 100%;
}
nav ul  {
display: flex;
background-color: black;
list-style-type: none;
padding: 10px;
align-items: center;
justify-content: space-around;
}
nav ul li {
text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:visited {
    background-color: orange;
}
nav a:hover {
    background-color: gray;
    padding: 10px;    
}
main {
    background-color:#eff7f2; 
    text-align: center;
    margin: 10px;
}
img {
    max-width: 100%;
}
.photo {
    border-radius: 8px;
    border-block: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
    width: 10%;
}

 footer {
  background-color:#f7ebe2 ;
  text-align: center;
  margin: 10px;
 } +
 