@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&display=swap');


main div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
div.cards {
    padding: 20px;
    background-color: #dededf;
    box-shadow: 0 0 15px 5px gray;
}
div.cards section {
    border: 1px solid #231788;
    background-color: #bfbcd6;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    
}
div.cards section img {
    width: 180px;
    box-shadow: 0 0 10px 10px rgb(170, 170, 170);
}
@media only screen and (min-width:35rem){
     main div {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 5px;
     }
}

@media only screen and (min-width: 64rem){
    main div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }
}
 h1,
 h2 {
    color: #231788;
    font-family: "Bree Serif", serif;
 }
h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 28px;
}
 h1 {
    font-size: 43px;
    text-align: center;
    margin: 10px;

}
p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    
}
section p:nth-child(3) {
margin-bottom: 15px;
}
footer {
    padding: 20px;
    text-align: center;
    font-family: "Bree Serif", serif;
}