@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

#content {
    display: grid;
    font-family:  "Yusei Magic", sans-serif;
    text-align: center;
}

.header-1 {
    text-align: center;
    background-color:  rgba(46, 245, 245, 0.801);
}

img{
    width: 100%;
}
.my-picture {
     display: grid;
     float: right;
}
h1 {
    font-family:  "Yusei Magic", sans-serif;
}

h2 {

}

p {
    text-align: center;
}
