@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

#content {
    display: grid;
    background-color:  rgba(46, 245, 245, 0.801);
    font-family:  "Yusei Magic", sans-serif;
}

.header-1 {

}

img{
    width: 100%;
}
.my-picture {

}
h1 {

}

h2 {

}

p {

}
