table, th, td {
    border-collapse: collapse;
    font-family: Ubuntu, sans-serif;
}
tr {
    box-shadow: 10px 5px 5px #628ca6;
}
th, .special {
    color: white;
    background-color: #628ca6;
}
th, td {
    padding: 12px;
    text-align: center;    
    border: 1px solid gray;
}
.title {
    color: black;
}
.title, .footer {
    background-color: #7fb9c2 ;
}
table th:first-child{
    font-size: 30px;
}
table {
    font-size: 22px;
    display: flex;
    justify-content: center;
    
}
.blue {
    background-color: #e7f0ed;
}
.green {
    background-color: #e7ffed;
}
.footer {
    font-size: 18px;
}