main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}
img {
    width: 300px;
    height: 400px;   
    margin: 0 auto;
    text-align: center;
    border: 1px solid purple;
}

picture img[data-src] {
min-width: 50px;
min-height: 50px;
filter: blur(0.2em);
}
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}
h1 {
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 46em) {
     img {
         margin-left: 500px;
     }
}

