.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(15px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}

.start-content {
   grid-area: header;
   text-align: center;
   background-color: rgb(rgb(82, 42, 42);
}

.middle-content {
    grid-area: main;
}

.end-content {
    grid-area: footer;
    text-align: center;
}

img {
    width: 100px;
}